.contenedor{
    background:rgba(0,0,0,0.8);
    position: relative;
    display: inline-block;
    text-align: center;
}
.contenedor::before{
    content:'';
	position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}

.izquierda{
    color:white;
    position: absolute;
    top: 10px;
    left: 10px;
    font-weight: bold;
    font-size: x-large;
}

.derecha{
    color:antiquewhite;
    position: absolute;
    top: 5%;
    left: 65%;
    font-weight: bold;
    font-size:85%;
}