body 
{
    background: white;
}

.buscar_productos
{    
    /*width: 1200px;*/
    height: 80px;
    background-image: url("imagenes/cintaFrutasArriba.PNG");
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.separador_banner
{
    height: 40;
    color: red;
}

.icono_buscador
{
    right: 0;
}

.container 
{
    width: 85%;
    max-width: 1200px;
}

.header
{
    width: 85%;
    max-width: 1200px;

    background: #FFFFFF;
    color: blue;

    padding: 1rem 0;
}

.header a 
{
    color:black;
    background: white;
    text-decoration: none;
}

.encabezado_iconos
{
    display: flex;
    justify-content: first baseline;
    align-items: flex-start;
}

.logo-nav-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navigation_vertical ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fredoka One', cursive;
}
.navigation_vertical ul li 
{
    display: inline;
}
.navigation_vertical ul li a
{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear; /* para darle un breve retraso en la animación */
    border-radius: 15px; /* redondeando las esquinas */
}
.navigation_vertical ul li a:hover 
{
    color: white;
    background: #5A5A0A; /*background: #008040;*/ 
}

.navigation_horizontal ul
{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Fredoka One', cursive;
}
.navigation_horizontal ul li 
{
    display: inline-block; /* para que los elementos queden uno al lado del otro */
}
.navigation_horizontal ul li a
{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.4s linear; /* para darle un breve retraso en la animación */
    border-radius: 15px; /* redondeando las esquinas */
}
.navigation_horizontal ul li a:hover 
{
    color: white;
    background: #5A5A0A; /*background: #008040;*/    
}

.banner
{
    background:white; /*background: green;*/
}