/* selectores */

/* // X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

.seccion-equipo {
    margin-top: 100px;
    margin-bottom: 140px;
}

.seccion-equipo_title{
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    font-family: 'Fredoka One', cursive;
}

.tarjeta-miembro-equipo {
    margin: 10px;
    margin-bottom: 20px;
    height: 450px;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: rgb(255, 255, 100);
}

.miembro-equipo_img {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 30px;
    height: 320px;
}

.miembro-equipo_title{
    font-family: 'Fredoka One', cursive;
    text-align: center;
    font-size: 18px;
}

.miembro-equipo_par{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 751px) {

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .tarjeta-miembro-equipo {
        height: 430px;
    }

    .miembro-equipo_img {
        background-position: top;
        height: 270px;
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .tarjeta-miembro-equipo {
        height: 410px;
    }
}