.seccion-articulos_titulo{
    border: 1px solid black;
    background-color: rgb(255, 225, 0);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
}

.frutas_titulo{
    border: 1px solid black;
    background-color: rgb(252, 30, 104);
    color:whitesmoke;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;
    
    
    
}

.verduras_titulo{
    border: 1px solid black;
    background-color: rgb(51, 179, 0);
    color:whitesmoke;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 15px;

}

.frutas_imagen{
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

.verduras_imagen{
    width: 600px;
    height: 350px;
    border-radius: 10px;
}

.seccion-articulos{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
}